[Desktop Entry]
Type=Application
Name=TarotClub
Comment=Le jeu de Tarot libre!
TryExec=/usr/share/tarotclub/TarotClub
Exec=/usr/share/tarotclub/TarotClub
Icon=/usr/share/tarotclub/icon256x256.png
Categories=Game;CardGame;
Terminal=false
TerminalOptions=
