[Unit]
Description=tarotclubweb

[Service]
WorkingDirectory=/opt/tarotclub/www
ExecStart=/opt/node-v4.6.0-linux-x64/bin/node /opt/tarotclub/www/app.js
Restart=alway
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tarotclubweb
Environment='PATH=/usr/bin:/usr/local/bin:/opt/node-v4.6.0-linux-x64/bin'
Environment='NODE_ENV=production'

[Install]
WantedBy=multi-user.target

