<!-- Manuel du jeu -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Manuel du jeu</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="/doc">Présentation du jeu</a></li>
        <li class="list-group-item"><a href="/doc/net">Jouer en ligne</a></li>
        <li class="list-group-item">Créer et jouer des donnes manuelles</li>
        <li class="list-group-item"><a href="/doc/dic">Glossaire</a></li>
    </ul>
</div>

<!-- Coin des développeurs -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Le coin des développeurs</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="/doc/scripts">AI script development</a></li>
        <li class="list-group-item"><a href="/doc/build">How to build the game</a></li>
        <li class="list-group-item"><a href="/doc/dev">Game development</a></li>
    </ul>
</div>
</div>