<!-- Manuel du jeu -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Compétition</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="/ranking">Concours d'IA</a></li>
    </ul>
</div>
<!--  Ajouter: liste des joueurs, statistiques ... -->
