<div class="container">
    <div class="row">
        <div class="col-md-8">

            <h1>TarotClub, le jeu de Tarot libre !</h1>

            <article>
             <p class="lead">TarotClub est un jeu de Tarot libre (licence GPLv3) fonctionnant sur Windows, Linux et Mac OS X. Le but de ce site est de centraliser les informations autour du développement du jeu.</p>

            <img  src="screenshots/front.png" style="outline: 4px solid white;outline-offset: -14px;border-radius: 10px;" class="img-responsive" />
            
            <br />
            <p>
            TarotClub possède les fonctionnalités suivantes :
            <ul>
                <li>Partie rapide ou enchaînement</li>
                <li>Jeu en réseau</li>
                <li>Jeu solo contre l'ordinateur</li>
                <li>Intelligence artificielle en JavaScript, modifiable</li>
                <li>Donnes numérotées</li>
                <li>Éditeur de donne</li>
                <li>Options de jeu (adversaires, jouerie)</li>
                <li>Cartes de Tarot au format vectoriel (SVG)</li>
                <li>Système de log avancé avec sauvegarde des parties jouées</li>
            </ul>           
            </p>
            
            </article>

            <h1>Dernières nouvelles</h1>

			<article>
                <h2>Version 2.6.2 disponible</h2> 
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <!--  <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a> -->
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> Vendredi 12 juin 2015                          
                    </div>
                  </div>

                  <hr>

                  <p>La version 2.6.2 est disponible en téléchargement (sauf pour Arch Linux, il faudra attendre). Vous pourrez ainsi
				  accéder enfin aux serveurs de jeu!</p>
                  <hr>
            </article>
			
            <article>
                <h2>Lancement du concours d'IA</h2> 
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <!--  <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a> -->
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> Lundi 25 mai 2015                          
                    </div>
                  </div>

                  <hr>

                  <p>Le concours d'IA est ouvert. Un article approfondi verra le jour pour expliquer la procédure, mais les aventuriers peuvent déjà ajouter des bots via leur compte utilisateur.</p>
                  <p>Une nouvelle entrée au menu voit le jour : la page des classements. Pour le moment, elle affiche uniquement les résultats du concours d'IA. Cette page est réservée aux joueurs enregistrés.</p>
                  <hr>
            </article>

            <article>
                <h2>Ouverture des comptes utilisateurs</h2> 
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <!--  <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a> -->
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> Dimanche 12 avril 2015                          
                    </div>
                  </div>

                  <hr>

                  <p>Il vous est maintenant possible de vous créer un compte utilisateur. Pour le moment, cela ne vous offre pas grand chose mais 
                    dans peu de temps vous pourrez participer à un concours d'IA de bots. Le site étant passé en dynamique, n'hésitez pas à me remonter 
                    tous les bugs que vous pourriez découvrir.</p>
                  <hr>
            </article>

            <article>
             <!--   <h2><a href="singlepost.html">Aries Sun Sign March 21 - April 19</a></h2> -->

                <h2>Nouveau site Web</h2> 
                <div class="row">
            <!--        <div class="col-sm-6 col-md-6">
                        <span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href="#">Signs</a>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>, <a href="#">Fire</a>, <a href="#">Mars</a>
                    </div> -->
                    <div class="col-sm-12 col-md-12">
                      <!--  <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a> -->
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> Samedi 31 janvier 2015                          
                    </div>
                  </div>

                  <hr>

                  <p>Bonjour à tous, le nouveau site Internet de TarotClub est en ligne. J'ai de nombreuses idées d'intercations avec le serveur de jeu en 
                    réseau et j'espère pouvoir proposer bientôt des comptes utilisateurs. Celui-ci vous permettra d'enregistrer toutes les parties effectuées 
                    sur un serveur spécial "compétition" et discuter avec les autres membres du site. Bref, j'ai encore du travail ...</p>
                  <hr>
            </article>
                
            <ul class="pager">
                <li class="previous"><a href="#">&larr; Précédent</a></li>
                <li class="next"><a href="#">Suivant &rarr;</a></li>
            </ul>

        </div>

        <div class="col-md-4">

            <div class="well text-center">
                <p class="lead">
                    Des informations en direct ? Suivez le Twitter TarotClub !
                </p>
                <a class="btn btn-primary btn-lg" target="_blank" href="https://twitter.com/tarotclublejeu"><span class="fa fa-twitter"></span>&nbsp;&nbsp;Page Twitter</a>
            </div>

            <!-- Categories -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Téléchargements (v2.6.2)</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://bitbucket.org/tarotclub/tarotclub/downloads/TarotClub-2.6.2-Setup.exe"><img src="images/win.png" alt="win" style="width:40px;height:40px">&nbsp;&nbsp;Windows</a></li>
                    <li class="list-group-item"><a href="https://launchpad.net/~tarotclub/+archive/ubuntu/ppa/+files/tarotclub_2.6.2-0ubuntu0_amd64.deb"><img src="images/ubuntu.png" alt="ubuntu" style="width:40px;height:40px">&nbsp;&nbsp;Ubuntu amd64</a></li>
                    <li class="list-group-item"><a href="https://launchpad.net/~tarotclub/+archive/ubuntu/ppa/+files/tarotclub_2.6.2-0ubuntu0_i386.deb"><img src="images/ubuntu.png" alt="ubuntu" style="width:40px;height:40px">&nbsp;&nbsp;Ubuntu i386</a></li>
                    <li class="list-group-item"><a href="https://bitbucket.org/tarotclub/tarotclub/downloads/tarotclub-2.5.3-1-x86_64.pkg.tar.xz"><img src="images/arch.png" alt="arch" style="width:40px;height:40px">&nbsp;&nbsp;Arch Linux amd64</a></li>
                    <li class="list-group-item"><a href="https://bitbucket.org/tarotclub/tarotclub/downloads/tarotclub-2.6.2-0.2.fc21.x86_64.rpm"><img src="images/fedora.png" alt="fedora" style="width:40px;height:40px">&nbsp;&nbsp;Fedora x86_64</a></li>
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Version de test</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Aucune pour le moment!</li>
                </ul>
            </div>
			
			<div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Statut des serveurs</h4>
                </div>
				<ul class="list-group">
				
                {{#if servers}}
                    {{#servers}}
                        {{#if name}}
    				        <li class="list-group-item">Serveur "{{name}}" ({{version}}): 
                                <p>Nombre de joueurs: {{players}}</p>
                            </li>
                        {{/if}}
                    {{/servers}}
                    
                {{else}}
                    <li class="list-group-item">Aucun serveur en ligne :(</li> 
                {{/if}}
                
				</ul>
			</div>

        </div>
    </div>
</div> <!-- Container -->
