<div class="container">    
    <div class="row">
        <div class="col-md-3">

           {{> doc_topics}}
	
        <div class="col-md-9">
			<h1>Glossaire et traductions</h1>
			<hr>
            <article>
	  
	<h2>Vocabulaire</h2>

	<div class="table-responsive">          
		<table  class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Terme</th><th>Définition</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Bout</td><td>désigne le 21 d’atout, le 1 d’atout et l’Excuse</td>
			</tr>
			<tr>
				<td>Atouts</td><td>désigne les cartes ornées d’un numéro qui n’appartiennent pas à une famille de couleur</td>
			</tr>
			<tr>
				<td>Couleurs</td><td>Pique, Carreau, Coeur ou Trèfle : Chacune des 4 dénominations des cartes</td>
			</tr>
			<tr>
				<td>Pli</td><td>désigne l’action de remporter les 4 cartes posées au centre de la table</td>
			</tr>
			<tr>
				<td>Le Petit</td><td>désigne le 1 d’atout</td>
			</tr>
			<tr>
				<td>Le Monde</td><td>désigne le 21 d’atout</td>
			</tr>
			<tr>
				<td>L’Excuse</td><td>désigne l’atout 22 ; ce dernier ne porte pas de numéro mais est orné d’une étoile</td>
			</tr>
			<tr>
				<td>Le chien</td><td>Résidu de 6 cartes (à 4 joueurs) que le preneur peut incorporer à son jeu après l'avoir montré aux défenseurs et avant de faire
				son écart</td>
			</tr>
			<tr>
				<td>L'écart</td><td>Résidu de 6 cartes (à 4 joueurs) que le preneur retire de sa main avant le jeu de la donne</td>
			</tr>
			<tr>
				<td>L’Entame</td><td>désigne la première carte jouée</td>
			</tr>
			<tr>
				<td>Maître</td><td>Carte du rang le plus élevé n'ayant pas été jouée, que ce soit à la couleur ou à l'atout</td>
			</tr>
			<tr>
				<td>Singleton</td><td>Couleur ne contenant qu'une seule carte</td>
			</tr>
			<tr>
				<td>Mariage</td><td>Réunion du roi et de la dame de la même couleur dans une même main. Le grand mariage inclut aussi le cavalier</td>
			</tr>
		</tbody>
		</table>
	</div>

	<h2>Expressions</h2>


	<div class="table-responsive">          
		<table  class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Expression</th><th>Explication</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Pisser à l’atout</td><td>désigne la pose d’un atout plus faible que celui sur la table</td>
			</tr>
			<tr>
				<td>Le Petit Sec</td><td>désigne la possession du Petit comme seul atout dans son jeu ; si un tel cas arrive, il faut redistribuer les cartes</td>
			</tr>
			<tr>
				<td>Couper</td><td>poser un atout sur une couleur (uniquement si on ne possède pas cette couleur)</td>
			</tr>
			<tr>
				<td>Surcouper</td><td>poser un atout de plus forte valeur sur l’atout mis en jeu</td>
			</tr>
			<tr>
				<td>Sous couper</td><td>poser un atout de plus faible valeur sur l’atout mis en jeu (uniquement si surcoupe impossible)</td>
			</tr>
			<tr>
				<td>Défausser</td><td>poser une carte de son choix quand on n’a ni atout ni couleur demandée</td>
			</tr>
			<tr>
				<td>Couvrir</td><td>Jouer une carte de valeur tout juste supérieure à celle(s) déjà jouée(s) sur le pli</td>
			</tr>
			<tr>
				<td>Chicane</td><td>Absence complète d'une couleur dans une main</td>
			</tr>
		</tbody>
		</table>
	</div>

	  
	<h2>Traduction des termes du Tarot</h2>

	<div class="table-responsive">          
		<table  class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Anglais</th><th>Français</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Hearts</td><td>Coeur</td>
			</tr>
			<tr>
				<td>Spades</td><td>Pic</td>
			</tr>
			<tr>
				<td>Diamonds</td><td>Carreau</td>
			</tr>
			<tr>
				<td>Clubs</td><td>Trèfle</td>
			</tr>
			<tr>
				<td>Trumps</td><td>Atout</td>
			</tr>
			<tr>
				<td>Oudler</td><td>Bout</td>
			</tr>
			<tr>
				<td>Handle</td><td>Poignée</td>
			</tr>
			<tr>
				<td>Slam</td><td>Chelem</td>
			</tr>
			<tr>
				<td>Trick</td><td>Tour</td>
			</tr>
			<tr>
				<td>Deal</td><td>Donne</td>
			</tr>
			<tr>
				<td>Game</td><td>Jeu</td>
			</tr>
		</tbody>
		</table>
	</div>

                </article>
            </div>
        </div>
    </div>
</div> <!-- Container -->
