<div class="container">
    <div class="row">
        <div class="col-md-3">

            {{> doc_topics}}

        <div class="col-md-9">
            <h1>Présentation du jeu</h1>
            <hr>
            <article>

            <p>
            Bienvenue sur les pages de documentation du jeu TarotClub. Le sommaire à gauche vous présente les principales sections. Certains articles sont en anglais afin 
            de pouvoir ouvrir le jeu aux membres non francophones.
            </p>

            <h2>Le Tarot, c'est quoi ?</h2>

            <p>
            Le Tarot est un jeu de cartes convivial utilisant 78 cartes aux dimensions particulières. Il ne faut pas confondre le jeu avec le pendant divinatoire dont les 
            illustrations des cartes ne sont pas du tout identiques.
            </p>

            <p>
            Je vous invite à consulter la page <a href="http://fr.wikipedia.org/wiki/Tarot_fran%C3%A7ais">Wikipedia</a> correspondante, celle-ci est très bien faite. N'hésitez pas à consulter également quelques sites Internet autour du 
            jeu dont vous trouverez les liens en bas de cette page. Certains sites vous donneront des conseils pour améliorer votre jeu.
            </p>

            <h2>TarotClub, le jeu de Tarot Libre !</h2>

            <p>
            TarotClub est donc un jeu vidéo sur le Tarot. Il vous permettra de jouer sur un ordinateur, contre des adversaires fictifs appelés Bots (ou robots) ou en ligne 
            face à des joueurs humains.
            </p>

            <p>Le slogan est "le jeu de Tarot libre" car le code source du jeu, c'est-à-dire sa recette informatique, est disponible à tout un chacun sous licence GPLv3. Si vous possédez l'âme d'un développeur, vous pouvez en apprendre plus dans le chapitre dédié.</p>

            <p>Le jeu est né par la volonté de fournir un jeu de Tarot gratuit et libre mais également soigné au niveau de son interface graphique et des fonctionnalités de jeu.</p>

            <p>Pour le moment, seuls les systèmes d'exploitation Windows et Linux sont supportés. Grâce aux technologies utilisées, le jeu devrait fonctionner sans trop 
            de problème sur le système Mac OS mais par manque de matériel il n'y a pour le moment aucun programme disponible sur cette plateforme.</p>


            <h2>Présentation de l'interface</h2>

            TODO

            <h2>Revoir une donne jouée</h2>

            TODO

            <h2>Données sauvegardées</h2>

            <p>Le logiciel sauvegarde un certain nombre de paramètres. Ces paramètres sont situés dans un répertoire nommé ".tarotclub" situé dans votre répertoire 
            utilisateur.</p>

            <p>Sous Windows, il s'agit de:</p>

            <pre>
            C:\Users\<votre compte>\.tarotclub

            Exemple: C:\Users\robert\.tarotclub
            </pre>

            <p>Sous Linux, il s'agit de:</p>

            <pre>
            /home/<votre compte>/.tarotclub

            Exemple: /home/robert/.tarotclub
            </pre>

            <p>Ce répertoire contient trois sous répertoires:</p>

            <ul>
                <li><b>avatars</b> : contient le cache des avatars des adversaires, utilisé pour améliorer la rapidité du jeu lors des parties en ligne</li>
                <li><b>games</b> : contient toutes vos parties jouées localement</li>
                <li><b>logs</b> : contient les journaux de déboggage du jeu. Un fichier par jour est généré, au format CSV</li>
            </ul>

            <p>Ainsi que deux fichiers de configuration qui stockent vos préférences utilisateur:</p>

            <ul>
                <li>tcds.json</li>
                <li>tarotclub.json</li>
            </ul>

            <h2>Liens Internet</h2>

            TODO
            <!--
            FFT
            Sites d'aides sur le jeu

            -->

            </article>
        </div>
    </div>
</div> <!-- Container -->
