<div class="container">            
    <div class="row">
        <div class="col-md-3">

            {{> doc_topics}}
	
        <div class="col-md-9">
			<h1>Jouer en ligne</h1>
			<hr>
            <article>

    <h2>Introduction</h2>

    <p>
    Le jeu TarotClub que vous avez installé vous permet de jouer seul contre l'ordinateur mais également en ligne face à de vrais joueurs humains. Pour cela, 
    il faut se connecter à un serveur de jeu en ligne. Ce serveur rassemble plusieurs joueurs dans un salon de jeu et dispose de plusieurs tables. 
    </p>

    <h2>Joindre un salon de jeu</h2>

    <p>
    Pour lancer une partie en ligne, il faut dans un premier temps afficher la fenêtre "dock" en allant ddans le menu "Jeu en réseau" et en cliquant sur 
    "Salon de jeu en réseau".
    </p>

    <p>
    Une fenêtre devrait s'afficher en bas de la fenêtre principale de TarotClub. Cette fenêtre est de type "dock", c'est à dire que vous pouvez la bouger 
    comme bon vous semble (l'agrandir ou la déplacer ailleurs sur le bureau). Notez que la fermeture (click sur la croix) ne fait que cacher la fenêtre. En aucun 
    cas vous serez déconnecté du serveur.
    </p>

    <p>En retournant dans le menu, vous pouvez afficher de nouveau cette fenêtre. Vous devrier maintenant voir la fenêtre ci-dessous :
    </p>

    <img class="img-responsive" src="/doc/network_game.png" />

    <p>
    Les indications sur la capture d'écran vous présente les différents éléments graphiques. Cette fenêtre s'apparente à un salon de discussion classique comme 
    vous pouvez en trouver sur MSN, Skype, IRC ou tout autre logiciel similaire.
    </p>

    <p>Un serveur de jeu contient au minimum une table (ici, appelée "Default"). Vous pouvez tenter de joindre une table si toutefois elle n'est pas complète.
    </p>

    <p>
    Si un joueur quitte une table en cours de partie, la partie se termine et tous les joueurs sont déconnectés de la table de jeu.
    </p>



                  </article>
                    
                       
            </div>
        </div>
    </div>
</div> <!-- Container -->
